<div class="container">

		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xm-5">
				<div id="form-1">
					<span>House-Type:</span>
						<select name="Rent" ng-model='HouseType'>
 								 <option value="" ></option>						
 								 <option value="1-BHK" >1-BHK</option>
  							     <option value="2-BHK">2-BHK</option>
 								 <option value="3-BHK">3-BHK</option>
						</select>
						<input type="text" ng-model="HouseType">
				</div>
				
			</div>
			

			<div class="col-lg-5 col-md-5 col-sm-5 col-xm-5">
				<div id="form-2">
					
				</div>
				
			</div>

			
			
		</div>
</div>
